{{ $primary := partial "GetMenu" "primary" }}

<!-- Ajout du menu au dessus -->
<header id="document-header">
  <nav class="top-menu">{{ partial "commons/menu.html"
    (dict
      "kind" "top-menu"
      "dropdown" false
      "level" 1
      "context" .
    ) }}
  </nav>

  <nav aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
      {{ partial "header/logo.html" }}
      {{ if $primary.items }}
        {{ partial "header/button.html" }}
        <div class="menu" id="navigation">
          {{ partial "commons/menu.html"
              (dict
                "kind" "primary"
                "dropdown" true
                "level" 1
                "context" .
              ) }}
        </div>
      {{ end }}
    </div>
  </nav>
</header>
